
<section *ngIf="step1"  class="bg-light w-75 rounded shadow mx-auto p-4 ">
<div>
<form [formGroup]="forgotPasword" (ngSubmit)="gotForgotPassword()">
    <label for="email">Email</label>
<input  formControlName="email"  type="email"  name="email" class="form-control w-100 my-3 ">
<button class="btn btn-main w-100 ">Send</button>
  <p class="text-success my-2 " *ngIf="message">{{message}}</p>
</form>

</div>
</section>


<section *ngIf="step2"class="bg-light w-75 rounded shadow mx-auto p-4 ">
    <div>
    <form [formGroup]="resetCode" (ngSubmit)="verifyResetCode()">
        <label for="email">Reset code </label>
    <input  formControlName="resetCode"  type="text"  name="text" class="form-control w-100 my-3 ">
    <button class="btn btn-main w-100 ">Send</button>
      <p class="text-success my-2 " *ngIf="message">{{message}}</p>
    </form>
    
    </div>
    </section>
    <section *ngIf="step3" class="bg-light w-75 rounded shadow mx-auto p-4 ">
        <div>
        <form [formGroup]="resetPassword" (ngSubmit)="resetNewPassword()">
            <label for="password">Reset password</label>
        <input  formControlName="newPassword"  type="password"  name="password" class="form-control w-100 my-3 ">
        <button class="btn btn-main w-100 ">Send</button>
          <p class="text-success my-2 " *ngIf="message">{{message}}</p>
        </form>
        
        </div>
        </section>