
<section class="my-3 ">
    <div class="row g-0">
    <div class="col-md-9   ">
     <div>
      <owl-carousel-o [options]="mainOptions">
        <ng-template carouselSlide>
          <img src="./assets/images/slider-image-1.jpeg" alt="" srcset="" class="w-100" height="400px">
  
        </ng-template>  
        <ng-template carouselSlide>
          <img src="./assets/images/slider-image-2.jpeg" alt="" srcset="" class="w-100 " height="400px">
  
        </ng-template>  
        <ng-template carouselSlide>
          <img src="./assets/images/slider-image-3.jpeg" alt="" srcset="" class="w-100 " height="400px">
  
        </ng-template>  
      </owl-carousel-o>
    
     </div>
    </div>
    <div class="col-md-3 ">
      <div>
        <img src="./assets/images/blog-img-1.jpeg" alt="" srcset="" class=" w-100 " height="200px">
        <img src="./assets/images/blog-img-2.jpeg" alt="" srcset="" class="w-100  " height="200px">
      </div>
    </div>
    </div>
   
  </section>
  
  
  
  
  <section>
    
      
        <owl-carousel-o [options]="categoriesOption">
  
          <ng-container *ngFor="let item of categories">
            <ng-template  carouselSlide>
              <img [src]="item.image" [alt]="item.name" [title]="item.name"  height="200px">
            </ng-template>
          </ng-container>
      
        </owl-carousel-o>
      
    
  </section>
   
  <section class="m-auto w-75 ">
    <input type="search" class="form-control " placeholder="search.."  [(ngModel)]="searchInput">
  </section>
  <!-- <p>{{searchInput}}</p> -->
  <section class="p-4">
  
   
  <h2 class="h3 p-4 ">Popular <span class="text-main">products</span></h2>
   <div class="row g-4" >
      <div class="col-md-2    " *ngFor="let product of products|search:searchInput;let item =index" >
          <div class="product p-2  "  >
            <div   (click)="addproductToFav(product._id)" *ngIf="!productsIds.includes(product._id)"  >
              <i   role="button"  class="fa-regular fa-heart fs-2  icon "  ></i>
            

            </div>
            <div  *ngIf="productsIds.includes(product._id)" (click)="removeProductFromFav(product._id)">
              <i   role="button"  class="fa-solid fa-heart icon text-danger  fs-2 "  ></i>
            
            </div>
           <div  [routerLink]="['/details',product._id]" role="button">
           
            <img [src]="product.imageCover" [alt]="product.title" class="w-100 "  >
            <h3 class=" ">{{product.title|texttransform:3}}</h3>
            <p class="text-main   ">{{product.category.name}}</p>
           <div class="d-flex justify-content-between  align-items-center ">
              <span>{{product.price|currency:'EUR'}}</span>
             <div>
              <span>{{product.price
              }}</span>
              <i class="fa-solid fa-star rating-color"></i>
           </div>

  
             </div>
           </div>
           <button  class="  btn-main w-100 " (click)="addProductToCart(product._id)">Add product </button>

          </div>

      </div>
   </div>
  
  </section>